@import "mocha.css";

* {
    font-size: 14px;
}

window#waybar {
    background-color: @crust;
    padding: 20px;
    font-family: "CaskaydiaCove Nerd Font";
}

#window {
    font-weight: 500;
}

.modules-left,
.modules-right {
    margin-left: 12px;
    margin-right: 6px;
}

#workspaces,
#hardware,
#media,
#connectivityAndAudio,
#clock,
#power-settings,
#custom-notification {
    padding: 0px 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    background-color: @base;
    border-color: @surface1;
}

#custom-notification {
    padding: 0px 10px 0px 7px;
}

#workspaces {
    margin-left: 10px;
}

#connectivityAndAudio {
    color: @lavender;
}

#clock {
    color: @peach;
}

#hardware {
    color: @mauve;
}

#tray {
    background-color: transparent;
    padding: 0px 10px;
}

#clock {
    padding-left: 15px;
}

#workspaces button {
    all: initial;
    margin: 4px 4px;
    font-weight: bold;
    box-shadow: none;
    text-shadow: none;
    color: @rosewater;
    padding: 0px 6px;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
}

#workspaces button.empty {
    color: @overlay2;
}

#workspaces button:hover {
    opacity: 0.8;
}

#workspaces button.active {
    background-color: transparent;
    border-bottom-color: @maroon;
    color: @maroon;
}

#cpu,
#memory,
#pulseaudio,
#bluetooth {
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    border-right-color: @surface1;
}

#cpu,
#pulseaudio {
    padding-right: 6px;
}

#memory {
    padding-right: 0px;
}

#custom-gpu,
#network {
    padding-left: 6px
}


#bluetooth {
    padding-right: 6px;
    padding-left: 4px;
}

tooltip {
    padding: 2px;
    background-color: @mantle;
}

#custom-prevMedia,
#custom-nextMedia {
    padding: 0px 8px 0px 8px;
    font-size: 18px;
    margin-bottom: 1px;
}

#custom-nextMedia {
    padding-right: 4px;
}

#custom-playerName {
    margin-bottom: 2px;
}

#media {
    color: @rosewater;
}
