* {
    color: #cdd6f4;
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: CaskaydiaCove Nerd Font;
    font-size: 16px;
}

window#waybar {
    background-color: transparent;
    border-radius: 7px;
    padding: 20px;
}

.modules-left {
    margin-left: 12px;
}

.modules-right {
    margin-right: 12px;
}

#workspaces,
#window,
#tray,
#hardware,
#connectivityAndAudio,
#clock,
#power-settings {
    padding: 0px 7px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    background: #223;
    border-color: #557;
}

#clock {
    padding-left: 15px;
}

#workspaces button {
    all: initial;
    margin: 3px 3px;
    font-weight: bold;
    color: #222;
    box-shadow: none;
    text-shadow: none;
    padding: 0px 5px;
    border-radius: 0;
}

#workspaces button.empty {
    opacity: 0.5;
}

#workspaces button:hover {
    opacity: 0.8;
}

#workspaces button.active {
    border-style: solid;
    border-color: transparent;
    border-bottom-color: #aae;
    border-width: 2px;
}

#cpu:hover,
#memory:hover,
#custom-gpu:hover {
    opacity: 1;
}

#cpu,
#memory,
#custom-gpu {
    opacity: 0.7;
}

#battery,
#network,
#bluetooth,
#pulseaudio {
    padding: 0px 5px;
    opacity: 0.7;
}

#battery:hover,
#network:hover,
#bluetooth:hover,
#pulseaudio:hover {
    opacity: 1;
}

#custom-expand-icon {
    margin-right: 12px;
}

#custom-quit,
#custom-lock,
#custom-reboot,
#custom-power {
    opacity: 0.7;
}

#custom-quit:hover,
#custom-lock:hover,
#custom-reboot:hover,
#custom-power:hover {
    opacity: 1;
}

tooltip {
    padding: 2px;
}
